@charset "UTF-8";
/*Algumas palavras da url vem separadas, tem que juntar para funcionar*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
:root{
    --font1: Verdana,Geneva,Tahoma,sans-serif;
    --font2: 'Passion One', cursiva;
    --font3: 'Sriracha', cursiva;

}
*{
    margin:  0px;
    padding: 0px;
}
/*
Dica 1:
vh= Altura
vy= Largura
*/
html, body{
    min-height: 100vh;
    background-color: darkgray; /* cor de fundo da pagina*/
    font-family: var(--font1);
}
header{
    background-color: black; /*cor de fundo do header*/
    color: aliceblue;
    text-align: center;/* alinha o texto no centro(header)*/
}
/*
Dica(2 modelos):
text-transform: uppercase;// letra maiuscula
  font-variant: small-caps; // deixa a primeira letra da palavra maiscula
*/
header>h1{
    padding-top: 50px;/*ajuda a alinhar no centro*/
     font-variant: small-caps; 
     font-family: var(--font2);
     font-size: 4em; /*Tamnaho letra*/ 
     font-size: 10vw; /*comando top, no celular letra menor e no pc leta maior*/ 
}
header>p{
    padding-bottom: 50px;
}
header a, footer a{
    color: aliceblue;/*cor da palavra*/
    text-decoration: none;/*tira o "___" do link da palavra*/
    font-weight: bolder; /* deixa a palavra em negrito*/
}
header a:hover, footer a:hover/*quando passar a mouse no link vai mudar*/{
    color: cadetblue; 
    text-decoration: underline;/*volta a ter o "___" da palavra*/
}
section{
    padding-top: 10vh;
    padding-bottom:10vh;
    line-height: 2em;/*espaçamento duplo*/
    padding-left: 30px; /*deixa o texto um pouco mais afastado das bordas*/
    font-family: var(--font3);
    font-size: 3.5vw;/*tamanho da letra */ 

}
section.normal{
    background-color: aliceblue;
    color: black;
}
section.imagem{
    background-color: rgb(95, 90, 90);
    color: aliceblue;
}
section.imagem >p{
    display: inline-block; /*Caixa que se adapta ao tamanho do conteudo*/
    padding: 5px; /*separada na letra*/
   /* width: 400px; //Largura da caixa*/
    background-color: rgb(63, 60, 60);
}
footer{
 background-color: black;
 text-align: center;
 color: aliceblue;
 padding: 10px;/* deixa maior o fundo*/
}
